---
import Layout from "@layouts/Layout.astro";
import { getSortedCollection } from "@scripts/content-utils";
import dayjs from "dayjs";
import { themeConfig } from "@config";

const posts = await getSortedCollection("blog", false);
let groupedPosts: { [year: number]: typeof posts } = {};
posts.forEach((post) => {
  const year = dayjs(post.data.publishDate).year();

  if (!groupedPosts[year]) {
    groupedPosts[year] = [];
  }

  groupedPosts[year].push(post);
});
const years = Object.keys(groupedPosts)
  .map(Number)
  .toSorted((a, b) => b - a);
---

<Layout title="归档" headerPage="归档">
  <main class="mx-auto max-w-3xl">
    {
      years.map((year) => (
        <div>
          <h2>{year}</h2>
          {groupedPosts[year].map((post) => (
            <div class="mb-2 ml-4">
              <time class="mr-8 text-neutral-500">{post.data.publishDate}</time>
              <span>
                <a
                  href={`/archives/${post.id}`}
                  class="font-serif font-semibold text-black"
                >
                  {post.data.title}
                </a>
              </span>
            </div>
          ))}
        </div>
      ))
    }
  </main></Layout
>
