---
import Layout from "../../layouts/Layout.astro";
import { themeConfig } from "@config";
import type { GetStaticPaths } from "astro";
import PostList from "@components/PostList.astro";
import { getSortedCollection } from "@scripts/content-utils";

export const getStaticPaths = (async () => {
  const posts = await getSortedCollection("blog");
  const categories = [
    ...new Set(posts.map((post) => post.data.categories || []).flat()),
  ];

  return categories.map((category) => {
    const filteredPosts = posts.filter((post) =>
      post.data.categories?.includes(category),
    );
    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}) satisfies GetStaticPaths;

const { category } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={category} headerPage="分类">
  <div class="mb-8 text-center font-serif text-2xl font-bold">
    <span class="icon-[material-symbols--folder-outline-rounded] iconify-inline"
    ></span>
    <span>{category}</span>
  </div>

  <PostList posts={posts} />
</Layout>
