---
import Layout from "@layouts/Layout.astro";
import { themeConfig } from "@config";
import Comment from "@components/Comment.astro";
---

<Layout title="关于" headerPage="关于">
  <main class="mx-auto max-w-2xl lg:max-w-3xl 2xl:max-w-4xl">
    <article>
      <div class="text-center font-serif text-[2rem] font-bold">关于</div>

      <p class="font-medium">Welcome to my blog.</p>
    </article>

    {
      themeConfig.comment.enabled && themeConfig.comment.artalk.enabled && (
        <Comment />
      )
    }
  </main>
</Layout>
